.App {
  text-align: center;
}

.recipe-picture {
  height: 540px;
  width: 750px;
  object-fit: cover;
}

.recipe-container {
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.recipe-name {
  padding: 16px;
  font-size: 48px;

  /* font-weight: bold; */
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}
